*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(
        120deg,
        rgb(6, 6, 90),
        #2f3faa,
        hwb(232 47% 14%)
      );
}

.nav-bar{
   display: flex;
   justify-content: space-between;
}